.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* RBC styles */

.rbc-header {
  border-bottom: none !important;
}

.rbc-time-view .rbc-allday-cell {
  display: none;
}

.rbc-day-slot .rbc-event {
  border: none !important;
}

.rbc-event {
  background-color: #2185d0 !important;
}

/* fix schedule page avatar */

.ui.items:not(.unstackable) > .item > .image.schedule-user-avatar > img {
  width: 80px !important;
}

/* share buttons */
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
  margin: 0 2px;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.schedule-button {
  box-sizing: border-box;
  margin-right: 0.8% !important;
  width: 19.2%;
  padding-left: unset !important;
  padding-right: unset !important;
}

/* toast min width */
.ui-alerts {
  min-width: 400px;
}

@media only screen and (max-width: 767px) {
  .ui-alerts {
    min-width: 80%;
  }
}
